/* @import url("https://fonts.googleapis.com/css2?family=ubuntu&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  /* font-family: "Ubuntu"; */
}

/* .navbar { */
/*   background-image: url("../assets/images/bg-sidebar-desktop.svg"); */
/* } */
